body{
    display: flex;
justify-content: center;
align-items: center;
height: 90vh;
background-color: white;
}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:  #F8C8DC;
    text-align: center;
    margin-top: 20px;
}
